.mt-60 {
  margin-top: 3.75rem;
}

.container {
  padding: 5.625rem 1.875rem;
}

.row {
  display: flex;
  gap: 3.75rem;
  flex-wrap: wrap;
}
.row .shortcut {
  cursor: pointer;
  min-width: 9rem;
  text-align: center;
}
.row .shortcut h2 {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 400;
  color: white;
}

.window {
  background-color: #C3C3C3;
  padding: 0.3125rem;
  position: absolute;
  max-width: 737px;
  max-height: 503px;
  width: 737px;
  height: 503px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
.window header {
  display: flex;
  justify-content: space-between;
  background-color: #02007F;
  padding: 0.3125rem 0.5rem;
}
.window header .boxTitle {
  display: flex;
  align-items: center;
  gap: 0.3125rem;
  color: white;
  font-size: 1, 875rem;
}
.window header .boxTitle img {
  width: 32px;
}
.window header nav {
  display: flex;
  gap: 0.3125rem;
  align-items: center;
  list-style: none;
}
.window nav {
  padding-left: 1rem;
  display: flex;
  margin: 1rem;
  margin-right: 0;
  list-style: none;
  gap: 2rem;
}
.window nav a {
  font-size: 1.625rem;
  display: inline-block;
  text-decoration: none;
  color: #000000;
}
.window nav a::first-letter {
  text-decoration: underline;
}
.window section {
  height: 357px;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 3.75rem;
  background: #FFFFFF;
  box-shadow: inset 2px 2px 0px #262626, inset -2px -2px 0px #F0F0F0, inset 4px 4px 0px #7E7E7E;
}
.window section .skill {
  width: 122px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.window section .skill img {
  width: 64px;
}
.window section .skill h2 {
  margin-top: 1rem;
}
.window article p {
  font-size: 1.3rem;
}
.window article p + p {
  margin-top: 1.5rem;
}
.window .active {
  display: flex;
}
.window .disabled {
  display: none;
}
.window.closedWindow {
  display: none;
}
.window.openWindow {
  display: block;
}
.window a {
  text-decoration: none;
  color: #000000;
}

.menu-windows {
  background-color: #C3C3C3;
  padding: 0.5rem;
}
.menu-windows nav {
  display: flex;
  justify-content: space-between;
}
.menu-windows nav li {
  cursor: pointer;
  width: 120px;
  height: 50px;
  padding-left: 0.5rem;
  background: #C3C3C3;
  box-shadow: inset -2px -2px 0px #262626, inset 2px 2px 0px #F0F0F0, inset -4px -4px 0px #7E7E7E, inset 4px 4px 0px #B1B1B1;
  display: flex;
  align-items: center;
  gap: 0.6875rem;
}
.menu-windows nav li span {
  font-size: 1.625rem;
  text-decoration: none;
  color: #000000;
}
.menu-windows nav .clock {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
  padding: 7px;
  width: 137px;
  height: 46px;
  background: #C3C3C3;
  box-shadow: inset -2px -2px 0px #F0F0F0, inset 2px 2px 0px #7E7E7E;
}
.menu-windows nav .clock #hour {
  font-size: 1.5rem;
}
.menu-windows #overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
.menu-windows #overlay .menu-start {
  bottom: 67px;
  position: absolute;
  background-color: #C3C3C3;
  width: 310px;
  height: 364px;
  padding: 2px 2px 2px 0;
  box-shadow: inset -2px -2px 0px #262626, inset 2px 2px 0px #F0F0F0, inset -4px -4px 0px #7E7E7E;
}
.menu-windows #overlay .menu-start nav {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.menu-windows #overlay .menu-start nav ul li {
  width: 99%;
  height: 70px;
  box-shadow: none;
}
.menu-windows #overlay .menu-start nav ul li img {
  width: 46px;
}
.menu-windows #overlay .menu-start nav ul li + li {
  margin-top: 0.5rem;
}
.menu-windows #overlay .menu-start nav ul li:hover {
  background-color: #02007F;
}
.menu-windows #overlay .menu-start nav ul li:hover span {
  color: white;
}
.menu-windows #overlay .menu-start nav button {
  position: relative;
  margin: 2px 2px 2px 0;
  cursor: pointer;
  font-size: 1.625rem;
  border: 0;
  background-color: transparent;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
}
.menu-windows #overlay .menu-start nav button:hover {
  background-color: #02007F;
}
.menu-windows #overlay .menu-start nav button:hover span {
  color: white;
}
.menu-windows #overlay .menu-start nav button::before {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #8E8E8E;
}
.menu-windows #overlay .menu-start nav button::after {
  position: absolute;
  left: 0;
  top: 1.5px;
  content: "";
  width: 100%;
  height: 2px;
  background-color: white;
}
.menu-windows .disabled {
  display: none;
}
.menu-windows .active {
  display: unset;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Windows95";
  src: url("../assets/fonts/w95fa.woff");
}
body {
  background-color: #008282;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body, button, input, select, textarea {
  font-family: "Windows95", sans-serif;
}

/*# sourceMappingURL=global.css.map */
